@define-color background #000000;
@define-color foreground #ffffff;
@define-color black #000000;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan #7dcfff;
@define-color white #ffffff;
@define-color bright_black #33467c;
@define-color bright_red #ff9e64;
@define-color bright_green #b9f27c;
@define-color bright_yellow #e0af68;
@define-color bright_blue #7da6ff;
@define-color bright_magenta #bb9af7;
@define-color bright_cyan #7dcfff;
@define-color bright_white #ffffff;

@define-color accent_bg_color @blue;
@define-color accent_fg_color @background;
@define-color accent_color @cyan;

@define-color window_bg_color @background;
@define-color window_fg_color @foreground;

@define-color view_bg_color @black;
@define-color view_fg_color @foreground;
@define-color sidebar_bg_color @black;
@define-color sidebar_fg_color @foreground;

@define-color headerbar_bg_color alpha(@foreground, 0.05);
@define-color headerbar_fg_color @foreground;

@define-color destructive_bg_color @red;
@define-color destructive_fg_color @background;

@define-color success_bg_color @green;
@define-color success_fg_color @background;

@define-color warning_bg_color @yellow;
@define-color warning_fg_color @background;

@define-color error_bg_color @red;
@define-color error_fg_color @background;

@define-color dialog_bg_color @background;
@define-color dialog_fg_color @foreground;

@define-color borders alpha(@foreground, 0.1);

@define-color theme_selected_bg_color @blue;
@define-color theme_selected_fg_color @background;

messagedialog {
    background-color: @dialog_bg_color;
}

messagedialog label {
    color: @dialog_fg_color;
    font-size: 14pt;
    font-weight: bold;
}

messagedialog button {
    background-color: @black;
    color: @foreground;
    border: 1px solid @bright_black;
    padding: 10px;
}

messagedialog button:hover {
    background-color: @blue;
}

toast {
    background-color: @black;
    color: @foreground;
}
