@define-color background #000000;
@define-color foreground #ffffff;
@define-color color0 #000000;
@define-color color1 #f7768e;
@define-color color2 #9ece6a;
@define-color color3 #e0af68;
@define-color color4 #7aa2f7;
@define-color color5 #bb9af7;
@define-color color6 #7dcfff;
@define-color color7 #ffffff;
@define-color color8 #33467c;
@define-color color9 #ff9e64;
@define-color color10 #b9f27c;
@define-color color11 #e0af68;
@define-color color12 #7da6ff;
@define-color color13 #bb9af7;
@define-color color14 #7dcfff;
@define-color color15 #ffffff;

* {
    background-color: @background;
    color: @foreground;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
}

#workspaces button.active {
    border-bottom: 2px solid @color4;
    color: @color4;
}

#workspaces button:hover {
    background-color: @color8;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
}