:root {
--color00: #000000;
--color01: #000000;
--color02: #000000;
--color03: #ffffff;
--color04: #ffffff;
--color05: #ffffff;
--color06: #ffffff;
--color07: #ffffff;
--color08: #f7768e;
--color09: #ff9e64;
--color0A: #e0af68;
--color0B: #9ece6a;
--color0C: #7dcfff;
--color0D: #7aa2f7;
--color0E: #bb9af7;
--color0F: #33467c;
}